<div ng-controller="toDoListCtrl">
    <h1><b>To do list</b></h1>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Tasks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks">
                <td>{{task.description}}</td>
                <td><input type="checkbox" ng-model="task.finished"></input>
                    <span ng-if="task.finished" style="color:#41EF00"> Complete</span>
                    <span ng-if="!task.finished" style="color:red"> Not complete</span>
                </td>
                <td style="text-decoration: underline">
                    <button ng-click="removeTask(task)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <div>
        <h3>New task:</h3>
        <input class="resizedTextbox" ng-model="input" placeholder=" Create new task"></input>
        <button ng-click="addNewTask()">Create</button>
        <button ng-click="clearTasks()">Clear</button>
    </div>
    <br/>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{progress}}%">
            <span ng-if="progress!=100">{{progress}}% COMPLETE</span>
            <span ng-if="progress==100">ALL DONE!!!</span>
        </div>
    </div>
    <h4>Progress</h4>
</div>

